Repository maemreyo/starter-templates: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{css,less,scss,html,json,jsx,js}": ["prettier --write"],
  "*.{js,ts,tsx}": "eslint --fix"
}

docs: update README.md to describe the template
  README.md
Due: none

Add metadata
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/FUNDING.yml
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQEUST_TEMPLATE.md
  start-project.sh
Due: none

Add buymeacoffee
  .github/FUNDING.yml
  README.md
Due: none

Add buymeacoffee
  README.md
Due: none

docs: test
  .husky/pre-commit
  .lintstagedrc.json
Due: prettier --write

fix(husky): update husky script to fix the warning message when commiting the empty message
  scripts/next-husky.sh
Due: none

feat(cypress): add cypress for testing
  README.md
  app/about/page.tsx
  cypress.config.ts
  cypress/component/about.cy.tsx
  cypress/e2e/about.cy.tsx
  cypress/support/commands.ts
  cypress/support/component-index.html
  cypress/support/component.ts
  cypress/support/e2e.ts
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

docs: add metadata
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQEUST_TEMPLATE.md
  .gitignore
Due: none

feat(.github): add configuration file for enabling cypress testing CI
  .DS_Store
  .github/.workflow/main.yml
Due: none

Create main.yml
  .github/workflows/main.yml
Due: none

fix: fix the folder structure for .github
  .github/workflows/main.yml
Due: none

fix: improve husky
  .husky/pre-commit
  .husky/prepare-commit-msg
  .lintstagedrc.json
  README.md
  scripts/init-husky.sh
Due: prettier --write
